<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        .right-panel{
            border-style:solid;
            border-width: thin;
            border-color: transparent;
            width:100px;
            height:100px;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/header::header"></div>
    <div class="col-md-10 col-md-offset-1" style="margin-top: 60px;">
        <ul id="accountTabs" class="nav nav-tabs" role="tablist">
            <li th:each="accountType:${accountTypes}" role="presentation">
                <a th:href="@{'#'+${accountType.id}}" aria-controls="home" role="tab" data-toggle="tab">
                    <span th:text="${accountType.accTypeName}"></span>
                </a>
            </li>
        </ul>
        <div id="tab-content" class="tab-content">
            <input type="text" th:value="${_csrf.token}"/>
            <div role="tabpanel" class="tab-pane active" th:id="${accountTypes[0].id}">
                <button type="button" class="btn btn-default" data-target="#myModal" data-toggle="modal" style="margin-top:50px;">Create New Account</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Create New Account</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="accountName">Account Name ：</label>
                        <input type="text" name="accountName" class="form-control" placeholder="Name" id="accountName"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" th:value="Create" id="createNewAccount"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/jquery-1.12.4.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/datepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:inline="javascript">
        //<![CDATA[
        $("#accountTabs li:first").addClass("active");
        $('#accountTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("#createNewAccount").click(function(){
            var accName = $("#accountName").val();
            var typeId = $(".tab-content>div:first").attr("id");
            console.log("accName is "+accName+" , typeId is "+typeId);
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            console.log("token : "+token+", header : "+header);
            $.post({
                beforeSend:function (xhr) {
                    if(header && token){
                        xhr.setRequestHeader(header,token)

                    }
                },
                url:"rest/acc/add/"+typeId+"/"+accName,
                dataType:"json",
                contentType:'application/json',
                success:function(data){
                    console.log(data);
                }
            });
        });
        //]]>
    </script>
</body>
</html>