<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <title>Login</title>
    <style type="text/css">
        body{
            padding-top: 50px;
        }
        .starter-template{
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div class="container">
    <div class="row">
        <p th:if="${param.logout}" class="bg-warning">已经成功注销</p>
        <p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
        <div class="col-md-4">
            <h2>使用账号密码登录</h2>
            <form th:action="@{/login}" method="post" action="/login">
                <div class="form-group">
                    <label for="username">账号 ：</label>
                    <input type="text" name="username" class="form-control" placeholder="账号" id="username"/>
                </div>
                <div class="form-group">
                    <label for="password">密码 ：</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="密码"/>
                </div>
                <input type="submit" class="btn btn-primary" th:value="登录"/>
                <input type="submit" class="btn btn-default" th:value="注册"/>
                <input type="button" class="btn btn-default" th:onclick="@{/logout}" th:value="退出"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>